<extend name="Public/base" />

<block name="body">
<div class="col-md-12 main-main">
<div class="col-md-12 main-top"><i class="fa fa-bars fa-2x"></i> <b>首页</b></div>
	<div class="c"></div>
	<div class="height-10"></div>
	<div class="order-title"><ul><li>欢迎使用</li></ul></div>
	<div class="index-title"><i class="fa fa-smile-o"></i> 亲爱的用户，您在使用过程中有任何问题请随时【联系我们】</div>
	<div class="index-title"><i class="fa fa-thumbs-o-up"></i> 当前系统已激活 BWSYS2.0企业版 （授权编号：850760632）</div>
	<div class="order-title"><ul><li>系统提醒</li></ul></div>
	<div class="index-title"><i class="fa fa-windows"></i> 操作系统：{$sysinfo['os']}</div>
	<div class="index-title"><i class="fa fa-paypal"></i> 服务器软件：{$sysinfo['web_server']}</div>
	<div class="index-title"><i class="fa fa-maxcdn"></i> MySQL 版本：{$sysinfo['mysqlv']}</div>
</div>


</block>

<block name="script">
<script type="text/javascript">
</script>
</block>
