<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"> 
<meta content="yes" name="apple-mobile-web-app-capable"> 
<meta content="yes" name="apple-touch-fullscreen">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="320" name="MobileOptimized">
<meta content="telephone=no" name="format-detection">
<link rel="shortcut icon" href="__PUBLIC__/Home/images/tubiao.ico" type="image/x-icon"/>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/mdialog.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/code.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/mdialog.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/code.css">
<title><eq name="order.paytype" value="wechatcode">微信支付<else />支付宝</eq></title>
<script type="text/javascript">
	var order = '{:U("order/index")}';
</script>
</head>
<body>
<br/>
<eq name="order.paytype" value="wechatcode">
<div class="title">订单号：</div>
<div class="ordernum">{:I('get.ordernum')}</div>
<div class="red">复制订单号，添加到支付留言</div>
<else />
<div class="red">支付宝支付成功后，复制支付宝订单号，填写到以下输入框！</div>
<input name="ordernum" type="hidden" value="{:I('get.ordernum')}"/>
<input name="proid" type="hidden" value="{$order.proid}"/>
<dl>
	<dt><input name="alinum" type="text" maxlength="32"/></dt>
	<dd><button>提交支付宝订单号</button></dd>
</dl>
</eq>
<div class="thumb"><img src="{$pay.thumb}"/></div>
<eq name="order.paytype" value="wechatcode">
<php>if(is_weixin()){</php>
<div class="red">长按二维码，识别二维码支付！</div>
<php>}else{</php>
<div class="red">保存图片到手机相册，打开微信扫一扫，打开微信扫一扫相册，选择保存的二维码，识别二维码支付！</div>
<div class="template"><a href="{:U('home/index/info?proid='.$order['proid'])}">已经支付</a><div>
<php>}</php>
<else />
<div class="red">保存图片到手机相册，打开支付宝扫一扫，打开支付宝扫一扫相册，选择保存的二维码，识别二维码支付！</div>
</eq>
</body>
</html>