<extend name="Public/base"/>

<block name="body">
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-title">
        <h2>{$info['id']?'编辑':'新增'}产品规格</h2>
    </div>
    <form action="__SELF__" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">标题<span class="check-tips">（产品标题）</span></label>
            <div class="controls">
                <input type="text" class="text input-w600" name="title" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">价格<span class="check-tips">（填写单价即可，例如（100））</span></label>
            <div class="controls">
                ￥<input type="text" class="text input-small" name="price" value="">
            </div>
        </div>
		<!--
		<div class="form-item">
            <label class="item-label">封面</label>
            <div class="controls">
				<input type="file" id="upload_picture_thumb">
				<input type="hidden" name="thumb" id="cover_id_thumb"/>
				<div class="upload-img-box">
				<notempty name="thumb">
					<div class="upload-pre-item"><img src="{$thumb}"/></div>
				</notempty>
				</div>
			</div>
			<script type="text/javascript">
			//上传图片
			/* 初始化上传插件 */
			$("#upload_picture_thumb").uploadify({
				"height"          : 30,
				"swf"             : "__STATIC__/uploadify/uploadify.swf",
				"fileObjName"     : "download",
				"buttonText"      : "上传图片",
				"uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
				"width"           : 120,
				'removeTimeout'	  : 1,
				'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
				"onUploadSuccess" : uploadPicturethumb
			});
			function uploadPicturethumb(file, data){
				var data = $.parseJSON(data);
				var src = '';
				if(data.status){
					src = data.url || '__ROOT__' + data.path
					$("#cover_id_thumb").val(src);
					$("#cover_id_thumb").parent().find('.upload-img-box').html(
						'<div class="upload-pre-item"><img src="' + src + '"/></div>'
					);
				} else {
					updateAlert(data.info);
					setTimeout(function(){
						$('#top-alert').find('button').click();
						$(that).removeClass('disabled').prop('disabled',false);
					},1500);
				}
			}
			</script>
        </div>
		-->
        <div class="form-item">
			<input type="hidden" name="proid" value="{:I('get.proid')}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
	Think.setValue("status", {$info.status|default=1});
$(function(){
	$('.time').datetimepicker({
		format: 'yyyy-mm-dd hh:ii',
		language:"zh-CN",
		minView:1,
		autoclose:true
	});
	showTab();
});

$('.side-sub-menu').find('a[href="{:U('product/index')}"]').closest('li').addClass('current');
</script>
</block>
