<!DOCTYPE html>
<html>
<head>
<meta name="Author" content="技术支持：小蜜蜂竞价单页订单系统www.minbee.cn 咨询热线：15622741979"  rel="nofollow" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"> 
<meta content="yes" name="apple-mobile-web-app-capable"> 
<meta content="yes" name="apple-touch-fullscreen">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="320" name="MobileOptimized">
<meta content="telephone=no" name="format-detection">
<link rel="shortcut icon" href="__PUBLIC__/Home/images/tubiao.ico" type="image/x-icon"/>
<title>{$info.title}</title>
<meta name="description" content="{:C('SITE_DESCRIBE')}" />
<meta name="keywords" content="{:C('SITE_KEYWORDS')}" /> 
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/zepto.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/baiwei.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/swiper-3.3.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/time.lesser.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.liMarquee.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/style.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/template.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/layer.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/swiper-3.3.1.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/liMarquee.css">
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.lazyload.js"></script>
<eq name="language" value="1">
<script type="text/javascript" src="__PUBLIC__/Home/js/language.js"></script>
</eq>
<script type="text/javascript"> 
	jQuery(document).ready( 
	function($){ 
		$(".xd-content img").lazyload({ 
			placeholder : "__PUBLIC__/Home/images/grey.gif", 
			effect      : "fadeIn",
			threshold : 200
		}); 
		
		$(".newbuy").click(function() {
			$('html, body').animate({
				scrollTop: $("#buy").offset().top
			}, 1000);
		});
		$('.audit-2').hide();
	}); 
	
	function GetDateStr(AddDayCount) { 
		var dd = new Date(); 
		dd.setDate(dd.getDate()+AddDayCount);//获取AddDayCount天后的日期 
		var y = dd.getFullYear(); 
		var m = dd.getMonth()+1;//获取当前月份的日期 
		var d = dd.getDate(); 
		return y+"-"+m+"-"+d; 
	} 
</script> 
<eq name="audit['status']" value="0">
<script type="text/javascript">
if (/Android|webOS|iPhone|iPod|BlackBerry|Windows CE|Windows Phone/i.test(navigator.userAgent)) {
   
}else{
	$(function($){
		$('.audit-1').hide();
		$('.audit-2').show();
	});
}
</script>
</eq>


<script type="text/javascript">
	var temp = new Array({$options});
	var json_num = "json_num.php";
	var APP = "__APP__";
	var post_order = "{:U('post_order')}";
	var post_cartadd = "{:U('post_cartadd')}";
	var sms = "{:U('sms')}";
	var PUBLIC = "__PUBLIC__";
</script>
</head>
<body>
<div class="audit-1">
<div class="xd-title">{$info.title}</div>
<div class="swiper-container swiper1">
    <div class="swiper-wrapper">
        <volist name="info.images" id="v">
        <div class="swiper-slide"><img src="{$v}"/></div>
		</volist>
    </div>
</div>
<script language="javascript"> 
var mySwiper = new Swiper('.swiper-container',{
loop:false,
grabCursor: true,
paginationClickable: true,
autoplay: 5000
})
</script>
<div class="c"></div>
<div class="xd-price-bg">
	<if condition="$info.price neq 0">
	<div class="xd-price-top">
    	<dl>
        	<dt>{$info['currency']}{:(int)$info['price']}</dt>
            <dd><em>原价</em><br/><i class="i">{$info['currency']}{:(int)$info['oldprice']}</i></dd>
            <dd><em>折扣</em><br/><i>{$info.discount}</i></dd>
            <dd><em>节省</em><br/><i>{$info['currency']}{$info.preferential}</i></dd>
        </dl>
    </div>
	</if>
    <div class="c"></div>
	<eq name="info.status" value="1">
	<if condition="($info.num_status eq 0) OR ($info.time_status eq 0)">
    <div class="xd-price-cen">
    	<dl>
        	<dt><eq name="info.num_status" value="0">{$info.number}人购买</eq></dt>
            <dd>
			<eq name="info.time_status" value="0">
			<eq name="info.time_type" value="1">
			<if condition="($info.starttime gt time())">
			<span>活动未开始</span>
			<elseif condition="($info.endtime lt time())"/>
			<span>活动已结束</span>
			<else />
			<div id="remainTime_1" class="jltimer"></div>
            <script language="javascript">
                addTimeLesser(1, {$endtime});
            </script>
			</if>
			<else />
			<div id="remainTime_1" class="jltimer"></div>
            <script language="javascript">
                addTimeLesser(1, {$endtime});
            </script>
			</eq>
			</eq>
			</dd>
        </dl>
    </div>
	</if>
    <div class="c"></div>
    <div class="xd-price-foot">
	<eq name="info.time_status" value="0">
	<eq name="info.time_type" value="1">
	<if condition="($info.starttime gt time())">
		<dl><a href="#">活动未开始</a></dl>
	<elseif condition="($info.endtime lt time())"/>
		<dl><a href="#">活动已结束</a></dl>
	<else />
    	<dl><a href="javascript:;" class="newbuy">立即购买</a></dl>
	</if>	
	<else />
		<dl><a href="javascript:;" class="newbuy">立即购买</a></dl>
	</eq>
	<else />
		<dl><a href="javascript:;" class="newbuy">立即购买</a></dl>
	</eq>
    </div>
	</eq>
</div>
<div class="c"></div>
<div class="xd-content">{$info['content']}</div>
<div class="c"></div>
<eq name="info.review_status" value="0">
<div class="bwtitle">客户评价</div>
<div class="review">
	<ul id="review">
	<foreach name="info.review" item="v" key="k">
		<dl>
			<dt>{$v[0]}</dt>
			<dd><span class="fr"></span><span class="fl">{$v[1]}</span></dd>
		</dl>
	</foreach>	
	</ul>
</div>
<script>
	$(window).load(function(){
		$('#review').liMarquee({
			direction: 'up',
			scrollamount:20,
		});
	});
	
	var time = GetDateStr(0);
	$("#review .fr").html(time);
</script> 
</eq>
<div class="c"></div>
<eq name="temphtml" value="1">
	<include file="Index/temp"/>
</eq>
<footer>
<p style="text-align:center"><img src="{$info.foot_thumb}" style="max-width:750px;width:100%"></p>
<br>
{:C('WEB_SITE_ICP')} {$statistical}
<br>
<p>
<a href="{$root}/jubao.html">举报</a>
</p>
</footer>
</div>
<div class="audit-2">
	<div class="audit-title">{$audit.title}</div>
	<div class="audit-content">{$audit['content']}</div>
</div>
</body>
</html>

