@charset "utf-8";
/* CSS Document */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,html{margin:0;padding:0;}
html{ background:#fff;}
body{ font-size:12px; font-family:"微软雅黑",Arial  !important; background:#fff;-webkit-text-size-adjust:100%; max-width:900px; overflow-x:hidden;margin:0 auto; }
a{text-decoration:none; font-family:"微软雅黑";}
a:hover{text-decoration:none;}
em,i{font-style:normal;}
li{list-style:none;}
img{border:0;vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0;}
select{font-family:"微软雅黑";}
p{word-wrap:break-word;}
.c{clear:both;}
.e{display:inline-block;*display:inline;*zoom:1;height:100%;width:1px;margin-left:-1px;vertical-align:middle;}
.fr{ float:right;}
.fl{ float:left;}

.audit-2{ display:nome;}
.audit-title{ height:45px; line-height:45px; padding:0px 3%; font-size:16px; background:#000; font-weight:bold; color:#fff; text-align:center;text-overflow: ellipsis; overflow: hidden;white-space: nowrap;text-shadow:1px 1px 1px #333;}
.audit-content img{ width:100%;}

.main-t{ width:96%; margin:30px auto; border:2px dashed #ccc; border-radius:5px; overflow:hidden;}
.t-jb{ float:right;}
.t-jb a{ color:#00ac18; font-size:14px; padding-right:10px; line-height:30px;}
.t-jb a:hover{ text-decoration:underline;}
.title{ width:96%; font-size:16px; font-weight:bold; color:#0a6aa1; border-bottom:1px dashed #0a6aa1; padding:0px 0px 15px 0px; text-align:center; margin:0px auto;}
.content{ width:96%; margin:20px auto;}
.content img{ width:100%;}
.kh-title{ width:96%; margin:0px auto; font-size:16px; color:#333; height:40px; line-height:40px; border-bottom:1px solid #ccc}
.kh-list{ width:96%; overflow:hidden; margin:10px auto;height:300px;}
.kh-list dl{ margin:10px auto; overflow:hidden; clear:both;}
.kh-list dl dt{ line-height:25px;}
.kh-list dl dt span{ color:#960;}
.kh-list dl dd{ color:#666; line-height:20px;}
.form{ width:96%; margin:0px auto;}
.form dl{ margin:5px 0px;}
.form dl dt{ font-size:16px;  color:#0a6aa1; line-height:20px; margin:5px 0px;}
.form dl dt span{ color:#0a6aa1;}
.form dl ol{ width:100%;}
.form dl dd input[type="text"]{ width:96%;}
.form dl ol input[type="text"]{ width:50%; margin-right:1%;}
.form dl ol span{ width:40%; display:inline-block;border-radius:3px; background:#0a6aa1; color:#fff; height:32px; line-height:32px; text-align:center; font-size:14px; font-weight:bold; border:none; cursor:pointer;}

.form dl ol em{ width:40%; display:inline-block;border-radius:3px; background:#ccc; color:#fff; height:32px; line-height:32px; text-align:center; font-size:14px; font-weight:bold; border:none; cursor:pointer;}

.form dl dd input[type="text"],.form dl ol input[type="text"]{ border:1px solid #ccc; border-radius:3px; padding:0px 2%; height:30px; line-height:30px; font-size:16px; color:#333;}
.form dl dd select{ width:98%; height:30px; line-height:30px; border:1xp solid #ccc; border-radius:3px; margin:4px;}
.form dl li{ line-height:30px; color:#666;}
.form dl dd p{ height:40px; line-height:40px; background:#ddd; margin:6px 0px; padding:0px 10px; color:#666; font-size:16px;}
.form dl dd p label{ width:100%; display:block;}
.form dl dd .radio{ width:15px; height:15px; padding:0px 10px;}
.form dl dd div.submit{ width:100%; border-radius:5px; margin-bottom:20px; background:cornflowerblue; color:#fff; height:40px; line-height:40px; text-align:center; font-size:16px; font-weight:bold; border:none; cursor:pointer;}
.form dl dd button:hover{ background:#36C;}


.main-bg{ height:auto; padding:0px 10px; overflow:hidden;}
.main{ overflow:hidden; background:#fafafa;}
.main dl{ width:100%; font-size:14px; margin:10px 0px; overflow:hidden; clear:both;}
.main dl.dl dt{ float: left; display: block;  height: 34px; line-height: 34px; text-align:left; clear:both;padding:0px; margin:0px;font-weight:bold;}
.main dl.dl li{ font-size:12px;}
.main dl.dl dd{ width:100%; min-height: 34px;clear:both;padding:0px; margin:0px;}
.main dl.dl dd input{font-size:14px;}
.main dl.dl dd input[type="radio"]{ display: block; float: left;  width: 17px; height: 17px;margin: 3px 6px 9px 0;}
.main dl.dl dd label{ padding-right: 15px;clear:both; text-align:left;float: left;}

.main dl.dl dd ul li{ line-height:20px; float:left; border:2px solid #ccc; border-radius:5px; padding:6px 10px; margin:5px 10px 5px 0; cursor:pointer; overflow:hidden;}
.main dl.dl dd ul input[type="checkbox"]{ display:none;}
.main dl.dl dd ul .ul-no{border:2px solid #0a6aa1; color:#0a6aa1;}
.main dl.dl dd ul ol{ float:left;  border:2px solid #ccc; border-radius:5px; padding:5px;margin:5px 10px 5px 0;cursor:pointer;}
.main dl.dl dd ul ol img{ width:54px; height:54px;}
.main dl.dl dd ul span{ display:inline-block; padding:5px 7px;border:2px solid #ccc; border-radius:5px;margin:5px 10px 5px 0;cursor:pointer;}
.main dl.dl dd ul span em{ padding-left:5px;}
.main dl.dl dd ul span img{ width:54px; height:54px;}
.main dl.dl dd a{display: block;float: left; width: 26px; height: 26px; border: 1px solid #CCC;cursor: pointer; background: url(../images/jjh.gif) no-repeat;}
.main dl.dl dd a.dec{ background-position: 0 0; border-top-left-radius: 4px; border-bottom-left-radius: 4px;}
.main dl.dl dd a.lnc{ background-position: -26px 0;border-top-right-radius: 4px;border-bottom-right-radius: 4px;}
.main dl.dl dd #num{float: left;width: 50px;height: 26px;line-height: 26px;text-align: center; border-width: 1px 0; border-radius: 0; padding:0px; border: 1px solid #CCC;}
.main dl.dl dd strong{float: right; height: 26px;line-height: 26px;font-size: 28px;font-family: Tahoma,Arial,Helvetica,sans-serif;color: #F40;}
.main dl.dl dd input[type="text"]{ height:34px; line-height:34px; border-radius:3px; border:1px solid #ccc; width:94%; padding:0px 2%;}
.main dl.dl dd input[type="tel"]{ height:34px; line-height:34px; border-radius:3px; border:1px solid #ccc; width:94%; padding:0px 2%;}
.main dl.dl dd .textarea {display: block;width: 96%; padding: 1%;height: 60px;border-radius:3px; border:1px solid #ccc;font-family:"微软雅黑";font-size:14px;}
.main dl.dl dd b{ font-weight:normal; border:2px solid #ccc; line-height:34px; line-height:34px; margin:5px 2px; border-radius:3px; display:inline-block; padding:0px 10px;cursor:pointer;}
.main dl.dl dd input[name="sms"]{ width:55% !important;}
.main dl.dl dd .sms-bg{ background:#666; color:#fff;}
.main dl.dl dd i{ float:right; width:35%; text-align:center; line-height:34px; background:#0a6aa1; border-radius:3px; color:#fff; cursor:pointer;}
.main dl.dl dd b.b-no{border:2px solid #0a6aa1; color:#0a6aa1;}
.main dl.dl dd b.huodao{ background:url(../images/car.jpg) no-repeat 5px center; background-size:23px 23px; padding-left:33px;}
.main dl.dl dd b.alipay{ background:url(../images/alipay.jpg) no-repeat 5px center ; background-size:23px 23px; padding-left:33px;}
.main dl.dl dd b.wechat{ background:url(../images/wxpay.jpg) no-repeat 5px center; background-size:23px 23px; padding-left:33px;}
.main dl.dl dd b.alipaycode{ background:url(../images/alipay.jpg) no-repeat 5px center; background-size:23px 23px; padding-left:33px;}
.main dl.dl dd b.wechatcode{ background:url(../images/wxpay.jpg) no-repeat 5px center; background-size:23px 23px; padding-left:33px;}
.main dl.dl p{ padding:3px 5px; border-radius:3px; margin-top:10px;color:#0a6aa1; border:1px solid #0a6aa1; line-height:20px;display:none;}
.main dl.dl p.dis-show{display:block;}
.main dl dt.dl-dt{font-weight:bold; font-size:12px; color:#666;}
.main dl dt.dl-dt span{font-size:14px;color:red;}
.main dl dt.dl-dt em{color:red;}

.bw-title{font-size: 14px; text-align: center;  color: #fff;  height: 40px;  line-height: 40px; margin: 0; width: 100%; background: #525f65;font-weight:bold;}
.bw-form-title{text-align: center; color: red;font-size: 16px;}

.Case-box{width: 94%;margin: 20px auto 40px; padding-bottom: 30px;    border: 1px solid #e1e1e1; border-radius: 5px;}
.Case-box dt{ background: #f5f5f5; margin: 0; padding: 0; line-height: 45px; height: 45px; text-indent: 20px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
}
.Case-box dd{ padding: 0;width: 90%; margin: 0 auto; padding-top: 10px;}
.Case-box dd .Case-slider{ }
.Case-box dd .Case-slider .slide{ clear: both;  font-size: 14px; line-height: 30px; height: 30px; }
.Case-box dd .Case-slider .pic{ width: 30px; height: 30px; float: left; border-radius: 50%; margin-right: 10px;}
.Case-box dd .Case-slider .txt{ float: left;width: 80%;overflow:hidden;color: #333; text-overflow:ellipsis; -o-text-overflow:ellipsis;-webkit-text-overflow:ellipsis; -moz-text-overflow:ellipsis;
 white-space:nowrap;}
.Case-box dd .Case-slider .time{ float: right;width: 20%; color: #999;font-size: 12px; text-overflow:ellipsis; -o-text-overflow:ellipsis; -webkit-text-overflow:ellipsis; -moz-text-overflow:ellipsis;    white-space:nowrap;}
#btn-down .btn{ background: #f5f5f5; border: 1px solid #e1e1e1; display: block; height: 30px; line-height: 30px; text-align: center; color: #333;font-size: 14px; border-radius: 5px;    -webkit-tap-highlight-color:transparent}
#btn-down #target{ display: none; webkit-transition: all 1s; -moz-transition: all 1s; transition: all 1s; -ms-transition: all 1s;}
#btn-down ul li{ margin-top: 15px; clear: both;}
#btn-down ul li .clr,#btn-down ul li:after{ clear: both;}
#btn-down ul li .fl{ float: left; width: 15%;}
#btn-down ul li .fr{ float: right; width: 85%;}
#btn-down ul li img{ width: 2rem; height: 2rem; border-radius: 50%; }
#btn-down ul li .txt .tit{ font-size: 14px; color: #333 }
#btn-down ul li .info{ font-size: 12px; color: #999;margin-top: 5px;}
#btn-down ul li .info .star{ float: right; color: #a43937;}