<extend name="Public/base" />

<block name="body">
<div class="col-md-12 main-main">
	<div class="col-md-12 main-top"><i class="fa fa-bars fa-2x"></i> <b>来源统计</b></div>
	<div class="c"></div>
	<div class="order-title">
		<ul>
			<li>共查询到<span>{$count}</span>笔订单</li>
		</ul>
	</div>
	<div class="c"></div>
	<div class="col-md-12 main-cen">
		<table class="table table-bordered table-list">
			<tbody>
				<th width="140">来源统计</th>
				<th>产品标题</th>
				<th>订单数量</th>
			<tbody>
			<volist name="_list" id="v">
			<tr>
				<td>{$title}</td>
				<td><empty name="v.title">产品已经被删除<else />{$v.title}</empty> </td>
				<td>{$v.count}</td>
			</tr>
			</volist>
			
		</table>
	</div>
</div>
<div class="page col-md-12">{$_page}</div>
</block>

<block name="script">
	<script type="text/javascript">
	
	
	</script>
</block>
