<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"> 
<meta content="yes" name="apple-mobile-web-app-capable"> 
<meta content="yes" name="apple-touch-fullscreen">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="320" name="MobileOptimized">
<meta content="telephone=no" name="format-detection">
<title>小蜜蜂管理中心</title>
<script type="text/javascript" src="__ROOT__/Public/Admin/js/jquery.js"></script>	
<link rel="stylesheet" type="text/css" href="__CSS__/m-style.css">
<link rel="stylesheet" type="text/css" href="__CSS__/font-awesome.min.css">
</head>

<body>
<header><a class="fa fa-chevron-left fa-lg" href="{:U('order/selectsum')}"></a>订单统计</header>
<div class="main">
	<div class="main-title"><i class="fa fa-calendar-o fa-lg"></i> 按订来源统计</div>
    <table width="100%">
      <tr>
        <th scope="col">订单来源</th>
        <th scope="col">订单数量</th>
        <th scope="col">订单金额(元)</th>
      </tr>
	<volist name="_list" id="v">
      <tr>
        <td>{$v.name}</td>
        <td>{$v.count}</td>
        <td><eq name="v.total" value="">&yen; 0.00<else/>&yen; {$v.total}</eq></td>
      </tr>
      </volist>
    </table>
</div>
</body>
</html>
<script type="text/javascript">
$(function(){
    $("table tr:last").css({"border-bottom":"none"});
})
</script>